@media (max-width: 851px) {
    .nav-ul{
        display: block;
        /* top: 52px; */
        background-color: red;
        /* position: fixed; */
        /* left: -100%; */
        text-align: center;
    }
}