*{
    padding: 0;
    margin: 0;
}
.nav-bar{
    display: flex;
    background-color: rgb(77, 137, 145);
    align-items: center;
    justify-content: space-around;
}
.logo{
    font-family: 'Brush Script MT', cursive;
    color: rgb(74, 20, 108);
}


.nav-ul{
    list-style: none;
    display: flex;
    margin-left: 2em;
}

.nav-li{
    padding: 1em;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
}
.user-info{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    background-color: rgb(15, 113, 170);
    padding: 1em;
    text-align: center;
    
}
#intro{
    font-size: 60px;
}
.about-me{
    margin: 2em 0;
}

.btn{
    background-color: rgb(15, 113, 170);
    border: 1px solid white;
    padding: 4px 17px;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.xtra-info{
    display: flex;
}

.u-tube{
    width: 50%;
    background-color: aliceblue;
    margin-top: 2em;
    margin-left: 2em;
}

.imgs img{
    width: 100%;
    border-radius: 17px;
}

.free{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.python-head{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin: 1rem 0;
}
.desc{
    line-height: 2em;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
